<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h2><strong>Xin ch&agrave;o bạn DRIVER_NAME</strong></h2>
  <p>&nbsp;</p>
  <p>Việt Cab team xin cảm ơn bạn đ&atilde; đăng k&iacute; cộng t&aacute;c trở th&agrave;nh t&agrave;i xề của Việt Cab!</p>
  <p>Ch&uacute;ng t&ocirc;i đ&atilde; xem x&eacute;t đơn đăng k&iacute; v&agrave; kết quả v&ograve;ng phỏng vấn của bạn v&agrave; xin được ch&uacute;c mừng bạn đ&atilde; ch&iacute;nh thức trở th&agrave;nh t&agrave;i xế của ch&uacute;ng t&ocirc;i</p>
  <p>Vậy xin mới bạn 8h s&aacute;ng 16/01/2018 c&oacute; mặt tại số 1 Đại Cồ Việt, ph&ograve;ng C9-406 - Việt Cab Corporation để ho&agrave;n th&agrave;nh thủ tục, nhận đồng phục v&agrave; bắt đầu l&agrave;m việc</p>
  <p>Ch&uacute;c bạn v&agrave; gia đ&igrave;nh sức khỏe</p>
  <p>Xin cảm ơn!</p>
  <p>&nbsp;</p>
  <p><span style="color: #0000ff;">Việt Cab Corporation</span></p>
  <p><span style="color: #0000ff;">C9-406 - 1 Đại Cồ Việt, H&agrave; Nội, Việt Nam</span></p>
  <p><span style="color: #0000ff;">Tel: 01687 176 584</span></p>
</body>
</html>
